div{
    margin-top:20px;
    width:300px;
}
span{
    display: inline-block;
    width: 200px;
}
button{
    margin-left: 10px
}
.willDo{
    background-color:red;
    
}
.done{
    background-color: green
}